<div class="images-basic">
  <% @current_user.can_follow.each do |user| %>
    <%if current_user != user.id %>
        <%= link_to follow_path(user.id), method: :post do %>
          <%=image_tag user.url_photo %>
        <%end %>
    <%end %>
<% end %>

</div>
