// Place all the styles related to the tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
font-family: 'Ubuntu', sans-serif;
background-color: black;
color: white;}


.img {
    width: 3rem;

}

.img_title {
    width: 20rem;


}

.minutes{

    color:aqua;



}

.background-textarea{
    background-color: black;
    color: black;


}

input[type="email"], textarea {background-color: black;

}

.card{
    background-color: black;
    border-color: rgb(94, 94, 93);
    border-radius: 2rem;
}

.img:hover {
    background-color: rgb(143, 143, 137);
  }



hr{
    border-color: #007bff;
}

.logotwitter{

margin-left: 30rem;

}

.form-group{

    width: 15rem;
    border-radius: 4rem;
    margin-left: 26rem;

}

.form-control{

    background-color: black;
    
}

.img_navbar{

    width: 1.5rem;

}

.images-basic {
  width: 600px;
  padding: 5em 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  
}> div{
    width: 130px;
}img{
    width: 100%;
    display: block;
}